---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const pendingProjects = [
  {
    title: t('projects.pending.1.title'),
    description: t('projects.pending.1.description'),
    image: 'https://i.ibb.co/gYZB94c/Markdown-Previewer.png',
    technologies: ['React', 'JavaScript', 'Marked.js', 'CSS3'],
    github:
      'https://github.com/kjarj54/Practicas-FreeCodeCamp-FrontEndDevelopmentLibraries/tree/main/Markdown%20Previewer',
    external:
      'https://kjarj54.github.io/Practicas-FreeCodeCamp-FrontEndDevelopmentLibraries/Markdown%20Previewer/',
  },
];

---
<h1>Projects</h1>