---
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);



if(!Astro.locals.session){
  return Astro.redirect(translatePath("/login"));
}

const user = Astro.locals.user;

export const prerender = false;
---

<h1>Bienvenido, {user?.name ?? "usuario"}</h1>