<section id="about" class="py-20 bg-white dark:bg-gray-800">
    <div class="container mx-auto px-6">
      <h2 class="text-3xl font-bold text-center mb-8" data-aos="fade-up">About Me</h2>
      <div class="flex flex-col md:flex-row items-center justify-between">
        <div class="md:w-1/2 mb-8 md:mb-0" data-aos="fade-right">
          <img src="/Yo.jpg" alt="Kevin's photo" class="rounded-full w-64 h-64 mx-auto" />
        </div>
        <div class="md:w-1/2" data-aos="fade-left">
          <p class="text-lg mb-6">
            I'm a systems engineering student with a passion for creating innovative web solutions. My journey in programming
            started with a curiosity about how websites work, and it has evolved into a deep love for crafting efficient,
            user-friendly applications.
          </p>
          <p class="text-lg mb-6">
            When I'm not coding, you can find me exploring new technologies, contributing to open-source projects, or
            enjoying a good book on software architecture.
          </p>
          <p class="text-lg">
            "I'm excited to join a passionate team of professionals and contribute my enthusiasm and skills to the
            development world! I'm always open to new connections and opportunities, so don't hesitate to contact me."
          </p>
        </div>
      </div>
    </div>
</section>