<section id="formacion" class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md mb-8">
    <h2 class="text-2xl font-bold mb-6">Education</h2>
    <div class="flex justify-center">
      <a href="https://www.una.ac.cr/" target="_blank" rel="noopener noreferrer" class="block w-full max-w-md">
        <div class="bg-gray-100 dark:bg-gray-700 p-6 rounded-lg transition-transform hover:scale-105">
          <img src="/UNA.png" alt="UNA" class="w-full h-auto mb-4 rounded" />
          <h3 class="text-xl font-semibold mb-2">Current Student Information Systems Engineering</h3>
        </div>
      </a>
    </div>
  </section>
  
  