<section id="inicio" class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md mb-8">
    <h2 class="text-2xl font-bold mb-4">Portafolio</h2>
    <p class="mb-4">
      Hi! I'm Kevin, a passionate programmer and systems engineering student with a strong commitment to turn
      technology into practical and creative solutions. My goal is to grow as a professional in the world of
      web development and become a high performing Fullstack or Frontend Developer.
    </p>
    <p>
      I'm excited to join a passionate team of professionals and contribute my enthusiasm and skills to the
      development world! I'm always open to new connections and opportunities, so don't hesitate to contact
      me.
    </p>
  </section>
  
  