---
import Layout from "@layouts/Layout.astro";
import { useTranslations } from '@i18n/utils';
import { languages } from "@i18n/ui";
import Contact from "@landing/Contact.astro";
import About from "@landing/About.astro";
import Hero from "@landing/Hero.astro";
import Expericence from "@components/landingpage/Expericence.astro";
import Projects from "@components/landingpage/Projects.astro";
import Header from "@components/shared/Header.astro";
import SocialSideBar from "@components/shared/SocialSideBar.astro";
import Footer from "@components/shared/Footer.astro";

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = useTranslations(lang as any);
export const prerender = false;
---

<Layout title={t('site.title')} description={t('site.description')}>
  <Header />
  <SocialSideBar />

  <main>
    <Hero />
    <About />
    <Expericence />
    <Projects/>
    <Contact />
    
  </main>
  <Footer />
</Layout>