---
import Layout from '../../../layouts/Layout.astro';
import { useTranslations } from '../../../i18n/utils';
import { languages } from '../../../i18n/ui';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = useTranslations(lang as any);
---

<Layout title={t('about.title')} description={t('site.description')}>
  <h1>{t('about.title')}</h1>
</Layout>