---
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kevin's Developer Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <link href="node_modules/aos/dist/aos.css" rel="stylesheet" is:inline />
  </head>
  <body class="bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    <slot />
    <script src="node_modules/aos/dist/aos.js" is:inline></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
