---
import Layout from "@layouts/Layout.astro";

import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';
import BackgroundEffects from "@components/login/BackgroundEffects.astro";
import LoginCard from "@components/login/LoginCard.astro";
import LoginForm from "@components/login/LoginForm.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout title={t("login.title")} description={t("login.description")}>
  <main class="min-h-screen flex items-center justify-center p-4 relative overflow-hidden">
    <BackgroundEffects />
    <LoginCard>
      <LoginForm />
    </LoginCard>
  </main>
</Layout>